/*Universal Style*/
html{
  font-size: 16px;
}

body{
  font-family: "Muli", sans-serif;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 480px;
}

/*Header*/
header{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: #D32F2F;
}

.nav-bar{
  width: 1600px;
  display: flex;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.logo img{
  height: 2.75rem;
  padding-top: 0.2rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  color: #FFFFFF;
}

.logotype{
  font-size: 1.85rem;
  color: #FFFFFF;
}

.wt700{
  font-weight: 700;
}

.wt300{
  font-weight: 300;
}

.full{
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
}

.full-nav{
  display: inline-flex;
}

.full-nav li{
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.mobile{
  display: none;
  align-items: center;
  flex-grow: 3;
  padding-right: 0.75rem;
}

.mobile-nav{
  display: none;
}

.icon{
  height: 30px;
  display: block;
}

/*Header in Mobile View*/

@media only screen and (max-width: 850px) {
  .mobile{
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .mobile-nav{
    display: inline-flex;
    flex-grow: 3;
    justify-content: space-around;
    align-items: center;
  }
}

/*Banner*/
.banner-container{
  display: flex;
  background-color: #FFCDD2;
  width: 100%;
}

.banner-image{
  width: 60%
}

.banner-image-container{
  padding: 2rem 1.5rem;
}

.banner-image-container img{
  width: 100%;
  height: auto;
}

.banner-content{
  margin: auto 0;
}

.banner-text h1{
  font-weight: 700;
  font-size: 2rem;
  font-family: Helvetica, sans-serif;
  padding: 10px 0;
}

.banner-text h4{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: Helvetica, sans-serif;
  }

.button{
  background-color: #9E9E9E;
  padding: 8px 0;
  text-align: center;
}

.button a:hover{
  color: #FFFFFF;
  text-decoration: none;
}

.button a{
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #212121;
}

/*Banner in Mobile view*/
@media only screen and (max-width: 850px){

  .banner-container{
    flex-direction: column;
  }

  .banner-image{
    width: 100%;
  }

  .banner-image-container img{
    width: 100%;
    height: auto;
  }

  .banner-content{
    padding: 2rem 1rem 2rem 1rem;
    align-content: center;
  }

  .button{
    width: 60%;
  }
}

/*Campus Info*/
.information{
  display: flex;
}

.information-main{
  width: 60%;
}

.information-main-container{
  padding: 2rem 1.5rem;
}

.information-main-container img{
  width: 100%;
  height: auto;
}

.information-main-container h1{
  font-size: 2rem;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 24px;
}

.information-main-container p{
  font-family: "Helvetica", sans-serif;
  padding-bottom: 32px;
}

.information-main-container span{
  font-size: 0.75rem;
  padding-bottom: 32px;
}

.information-secondary{
  width: 40%;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 1rem 0rem;
  border-bottom: 1px solid #BDBDBD;
}

.information-item:last-child{
  background-color: #9E9E9E;
}

.information-item{
  border-bottom: 1px solid #BDBDBD;
}

.information-item-container{
  display: flex;
  padding: 16px;
}

.information-item-container img{
  width: 35%;
  height: auto;
}

.image-mobile{
  display: none;
}

.information-content{
  width: 65%;
  display: flex;
}

.information-content-container{
  height: 100%;
  align-self: center;
  padding-left: 20px;
}

.information-content-container h2{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 8px 0px;
}

.information-content-container p{
  font-size: 1rem;
  padding: 8px 0px;
  line-height: 1.4;
}

.information-content-container a{
  text-decoration: none;
}

/*Campus Information in Mobile View*/

@media only screen and (max-width: 850px){
  .information-main{
    display: none;
  }

  .information-secondary{
    display: flex;
    width: 100%;
  }

  .information-item-container{
    flex-direction: column;
  }

  .image-desktop{
    display: none;
  }

  .image-mobile{
    display: block;
    width: 100%;
    padding-left: 1rem;
  }

  .information-item-container img{
    width: 100%;
  }

  .information-content{
    width: 100%;
}
  .information-content-container{
    padding: 1rem 0 1rem 1rem;
  }
}

/*Course section*/
.courses{
  background-color: #FFCDD2;
  padding: 32px 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.courses h1{
  font-size: 2.5rem;
  font-weight: 700;
  padding: 2rem 0 2rem 0;
}

.courses .courses-container{
  display: flex;
  flex-wrap: wrap;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  justify-content: space-between;
}

.course{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 2rem 1rem;
}

.course img{
  height: auto;
}

.course-content{
  background-color: #FFFFFF;
  padding-left: 1rem;
  padding-right: 1.5rem;
  line-height: 1.4;
  padding-bottom: 1.5rem;
}

.course-content h2{
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.course-content p{
  padding-bottom: 0.5rem;
}

/*Course section in Mobile view*/
@media only screen and (max-width:850px){
  .courses{
    padding: 0.5rem 2rem;
  }

  .courses h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .courses .courses-container{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .courses-container .course{
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .course{
    margin: 1rem 0;
  }

  .course img{
    display: none;
  }

  .course-content{
    background-color: #D32F2F;
    color: #FFFFFF;
  }

  .course-content p{
    display: none;
  }
}

/*Thesis section*/
.thesis{
  padding: 2rem 0;
}

.thesis-exhibit{
  display: flex;
}

.thesis h1{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
}

.main-thesis{
  padding-left: 1.5rem;
  }

.thesis-video video{
  width: 60%;
  height: auto;
}

.thesis-video h2{
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 1.5rem;
}

.thesis-content{
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  width: 60%;
  font-style: italic;
}

.secondary-thesis{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.thesis-info:first-child{
  background-color: #9E9E9E;
  padding-bottom: 1rem;
}

.thesis-info-container{
  display: flex;
  padding: 1rem;
}

.image-container{
  width: 35%;
}

.image-container img{
  height: auto;
  width: 100%;
}

.thesis-text{
  width: 65%;
  padding-left: 1rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.thesis-text h2{
  font-size: 1.5rem;
  font-style: 700;
}

.thesis-text p{
  padding: 0.5rem 0;
}


/*Thesis section in Mobile*/
@media only screen and (max-width: 850px){
  .secondary-thesis{
    display: none;
  }

  .thesis-content{
    display: none;
  }

  .thesis-content{
    display: none;
  }

  .thesis-video h2{
    display: none;
  }

  .thesis-video video{
    width: 100%;
    padding: 0;
  }
}

/*Footer*/
footer{
  display: flex;
  justify-content: space-between;
  background-color: #D32F2F;
  width: 100%;
  height: auto;
  padding: 1rem 1rem 2rem 1.5rem;
}

.colmar{
  font-weight: 700;
}

.copyright{
  text-align: left;
}

.terms{
  text-align: right;
}

.terms a{
  padding: 0.50rem;
  text-decoration: none;
  color: black;
}

.terms a:hover{
  color: blue;
  text-decoration: underline;
}

@media only screen and (max-width: 850px) {
  footer{
    height: 1.5rem;
  }

  .terms{
    display: none;
    padding-top: 2rem;
  }
}
